/********************** GLOBAL STYLES ***********************/

.App {
  /* padding: 10px 10px 0 10px; */
  /* width: 100vw!important; */
}

body {
  margin: 0;
}

h1, h2, h3{
  font-family: Calibri, sans-serif;
  font-weight: 100;
  letter-spacing: 3px;
}

h4 {
  font-family: Calibri, sans-serif;
  font-weight: 100;
}

p {
  font-family: Calibri, sans-serif;
  font-weight: 100;
}

button, .button {
  background-color: #59788e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 0.9em;
  width: 70%;
  cursor: grab;
}

button:hover, .button:hover {
  background-color: #2b4254;
}

#landing-container,
#about-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;
}

.sub-header {
  text-align: center;
  padding: 30px 20px 0 20px;
  font-size: 2em;
  font-style: italic;
  letter-spacing: 0;
  color: #59788e;
}

a {
  text-decoration: none !important;
}


.hide {
  display: none;
}

/********************** FOOTER ***********************/

footer {
  background-color: rgb(50, 50, 50);
  color: white;
  width: 100vw;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

footer p {
  font-size: 0.8em;
  font-style: italic;
}

#f-content {
  padding: 10px;
  z-index: 100;
}

#f-content img {
  width: 40px;
  padding: 18px;
}


/********************** HEADER ***********************/

#header-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#header-container h3{
  letter-spacing: 2px;
  font-weight: lighter;
}

#logo-img {
  height: 5em;
  padding: 4px 10px;

}

#header-container-mobscroll {
  position: fixed;
  left: 0px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
  padding: 10px;
  background-color: #59788e;
  color: white;
  animation: fadeIn 0.2s; 
}

#header-container-mobscroll h4 {
  margin: 20px;
  font-family: Calibri, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 1.2em;
}

#header-container-mobscroll h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
}

#hamburger {
  height: 50px;
  padding: 7px 0 0 0;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


/********************** MOBILE NAV ***********************/

#mob-nav-container {
  width: 100vw;
  height: 102vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(50, 50, 50);
}

#mob-nav-content {
  color: white;
  padding: 10%;
  font-size: 1.3em;
}

#mob-nav-content a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  font-family: Calibri, sans-serif;
}

.sub-nav {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 20px;
  font-size: 0.6em;
  font-weight: 100;
  line-height: 30px;
}

#mob-nav-content #mob-nav-bottom {
  position: absolute;
  bottom: 30px;
}

#mob-nav-content #mob-nav-bottom h5 {
  color: white;
  font-weight: 100;
  font-size: 0.72em;
}

/********************** TEXT BLOCK ***********************/

.t-block {
  margin: 90px 30px;
}

/********************** STATIC BANNER IMAGE ***********************/

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100vw;
}

.b-img {
  width: 100%;
  height: 100%;
}

/* .banner img{
  width: 100vw;
  height: 300px;
} */

.banner h1 {
  position: absolute;
  top: 220px;
}

/********************** LANDING SLIDESHOW ***********************/

#l-hero-s {
  margin-bottom: 0px;
  z-index: 20;
}

#l-hero-s .slideshow-container {
  margin: -40px 0 -70px 0;
}

#l-hero-s .slideshow-container img{
  width: 100%;
  height: 360px;
}

#l-hero-s .slideshow-container #slide-icons {
  position: relative;
  top: -130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 10;
  width: 100%;
}

#l-hero-s .slideshow-container #img-icon {
  height: 12px;
  width: 12px;
  padding: 5px;
}


/********************** SLIDESHOWS ***********************/

.slideshow-container img {
  width: 100vw;
  height: 250px;
  margin: 40px 0 ;
}


/********************** LANDING PAGE ***********************/

#landing-about {
  padding: 0 30px;
}

#landing-about img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

/********************** TESTIMONIALS ***********************/


#testimonials-container {
  margin: 70px;
  /* padding: 30px; */
  background-color: #59788e2f;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.tmonial-block{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  padding: 50px 0;
  font-size: 10px;
}

.tmonial-header {
  flex-direction: column;
}

.tmonial-header h1 {
  font-size: 1.2em;
  font-weight: 500;
}

.tmonial-quote {
  margin-left: 30px;
}

.tmonial-quote h3{
  font-size: 2em;
  letter-spacing: 1px;
}

.tmonial-quote h4 {
  font-weight: 100;
}

.tmonial-block img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

#r-card {
  display: flex;
  flex-direction: row-reverse;
}

#r-card .tmonial-quote {
  margin-left: 0;
  margin-right: 30px;
}


/********************** ABOUT PAGE ***********************/

#about-container .t-block .t-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about-container .t-block .t-left #t-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
}

#about-container #about-content .t-block {
  margin: 90px 30px;
}

#team-container .t-right ul{
  columns: 2;
  list-style-type: none;
  margin-left: -50px;
}



/********************** BOOK US ***********************/

#book-container {
  margin-bottom: 130px;
}

/********************** SPONSORSHIP ***********************/

#sponsor-container {
  margin-bottom: 130px;
}



/********************** SUBMISSIONS ***********************/

#sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
}

#sub-container .t-block {
  margin: 30px 30px;
} 

#sub-container button {
  margin: 50px 0 0 0;
}

/********************** CONTACT ***********************/

#contact-container {
  margin-bottom: 130px;
}

#contact-container .t-block {
  margin: 70px 30px;
}

#contact-container #follow-container {
  columns: 2;
  margin: -40px 35px;
}

#contact-container #follow-container img {
  height: 130px;
  width: 150px;
  opacity: 50%;
}

#contact-container #follow-container img:hover {
  opacity: 100%;
}

#contact-container #follow-container h3 {
  margin: -70px 0 70px 0;
  /* color: white; */
  font-weight: 900;
  font-size: 1.3em;
}


/********************** UPCOMING SHOWS PAGE ***********************/

#upcoming-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
}


/********************** UPCOMING SHOWS CARD ***********************/


.up-show-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 330px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px 10px 0 0; 
  margin-top: 50px;
}

.up-show-c-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 350px;
}

.up-show-c-header img{
  opacity: 50%;
  background-color: black;
  z-index: -10;
  width: 330px;
  height: 350px;
  border-radius: 10px 10px 0 0; 
}

#up-s-c-title {
  display: flex;
  flex-direction: column;
  margin-left: -320px;
}
#up-s-c-title h1 {
  font-size: 2.7em;
  margin-bottom: 10px;
}

#up-s-c-title h2{
  font-size: 2.3em;
  font-weight: 500;
  margin: 0;
  background-color: #ffffff;
  width: 28%;
  padding: 10px;
}

.up-show-c-desc {
  margin: 0px 10px;
}

.up-show-c-desc h3 {
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: -15px;
}

.up-show-c-desc h4 {
  font-size: 1.2em;
  margin-bottom: -15px;
}

.up-show-c-desc p {
  margin: 40px 0;
}

.up-show-card-container .button {
  width: 300px;
  border-radius: 0 0 5px 5px;
  text-align: center;
}

.up-show-card-container a {
  text-decoration: none!important;
  font-size: 1.5em;
}

/********************** PAST SHOWS PAGE ***********************/

#past-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
}



/********************** PAST SHOWS CARD ***********************/

.past-show-card-container {
  display: flex;
  align-items: center;
  width: 350px;
  height: 200px;
  margin-top: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.past-show-c-header {
  width: 150px;
}

.past-show-c-header img {
  width: 150px;
  height: 200px;
  opacity: 40%;
  z-index: -10;
}

#past-s-c-title {
  margin: -160px 0 0 5px;
  z-index: 10;
}

#past-s-c-title h2 {
  font-size: 1.2em;
}

#past-s-c-title h1 {
  font-size: 1.5em;
}

.past-show-c-desc {
  margin-left: 10px;
}

.past-show-c-desc h3 {
  font-size: 1em;
  margin: 0;
}



/*************************** DESKTOP STYLES ****************************/

@media only screen and (min-width: 768px) {

  /********************** HEADER ***********************/

 
  #header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    height: 70px;
    z-index: 700;
    background-color: white;
    position: relative;
  }

  #logo-img {
    height: 4em;
    padding: 4px 40px;
  }

  #header-container-mobscroll {
   position: fixed;
   top: 0px;
  }

  #header-container-mobscroll #nav-container #nav-show-sub,
  #header-container-mobscroll #nav-container #nav-op-sub {
    background-color: #59788e;
  }


  /********************** NAV ***********************/

  #nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 100px;
  }

  #nav-container a {
    text-decoration: none;   
    color: black; 
  }

  #nav-container a:hover,
  #nav-container h1:hover {
    color: blue;
  }

  #nav-container h1 {
    font-size: 0.9em;
  }

  #nav-container h1:hover {
    cursor: grab;
  }

  #nav-container #nav-show-sub,
  #nav-container #nav-op-sub{
    display: flex;
    flex-direction: column;
    font-size: 0.78em;
    position: fixed;
    line-height: 27px;
    background-color: white;
    padding: 10px;
    width: 100px;
    font-family: Calibri, sans-serif;  
  }


  #header-container-mobscroll {
    display: flex;
    flex-direction: row;
    height: 38px;
    align-items: center;
    animation: fadeIn 0.4s; 
    z-index: 600;
  }

  #header-container-mobscroll a {
    color: white;
  }

  #header-container-mobscroll h4{
    font-weight: 300;
  }


  /********************** Landing CARD ***********************/

  .landcard-container {
    margin-right: 10px;
  }

  .landcard-content {
    background-size:cover;
    background-position: left;
    height: 35em;
    width: 33em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-repeat: repeat; */
  }

  #landcard-title {
    text-align: left;
    color: white;
    margin: 0 0 20px 10px;
  }

  #landcard-title:hover {
    color: yellow;
  }

  #landcard-title h1{
    text-decoration: none!important;
    font-size: 2.2em;
    margin: 15px 0 5px 0;
    letter-spacing: 3px;
  }

  #landcard-title h2, 
  #landcard-title h3 {
    margin: 0;
  }

  #landcard-title h2 {
    background-color: white;
    color: black;
    width: 26%;
    padding: 5px 0 5px 10px;
    margin-left: -10px;
    letter-spacing: 0;

  }

  #landcard-title h3 {
    /* font-style: italic; */
    font-size: 1em;
  }

  /********************** Landing ***********************/

  /* #landing-container {
    background-color: #eff0f4c5;
  } */

  #l-hero-s {
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    background-color: white;
    padding-bottom: 1em;
    /* justify-content: center; */
  }

  #landing-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 3em 3em 2em 3em;
    width: 90vw;
    background-color: white;
  }

  #landing-about h2 {
    font-size: 25em;
    width: 100%;
    color: #59788e1d;
    z-index: 0;
    top: -290px;
    position: fixed;
    z-index: 10;
    font-weight: 900;
    line-height: 0.8em;
    text-align: justify;
    /* letter-spacing: 50px; */
  }

  #landing-about p {
    margin: 2em 15em 0 15em; 
    font-size: 0.9em;
    line-height: 22px;
    z-index: 10;
  }

  #landing-about #land-img-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin-top: 5em;
    z-index: 10;
  }

  #landing-about #land-img-row div{
    width: 50em;
    height: 12.5em;
    background-size: cover;
    background-position: center;
  }

  /* #landing-about #land-img-row div:hover{
    opacity: 50%;
    background-image: none!important;
  } */


  /********************** Testimonials ***********************/

  #testimonials-container {
    padding: 4em 0;
    /* background-color: #ffffff;   */
    /* background-image: url('images/theater_light.jpg'); */
    background-position: bottom;
    flex-direction: row;
    background-color: #f2f4f5;
    width: 100vw;
    overflow-x: scroll;
    justify-content: left;
  }

  .tmonial-block {
    width: 17em;
    background-color: rgb(255, 255, 255);
    margin: 20px 4em;
    padding: 2em 4em 2em 4em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 10px 5px 5px #425d7130;

  }

  .tmonial-header{
    margin: 0px;
  }

  #tmonial-img {
    background-size: cover;
    background-position: center;
    width: 23em;
    height: 27em;
    padding: 0;
    margin: -10px 0 0 0;
    opacity: 70%;
    z-index: -1;
  }


  .tmonial-quote {
    margin: 0px;
    width: 100%;
    z-index: 10;
  }

  .tmonial-quote h1{
    font-size: 6em;
    letter-spacing: 3px;
    font-weight: 600;
    margin: -120px 0 30px -43px;
    text-align: left;
    color:  #dfe4e7;
    /* color: white; */
    line-height: 55px;
    /* opacity: 0; */
    /* padding: 7em 1em; */
    /* border-radius: 50%; */
    /* background-color: yellow; */
  }

  .tmonial-block:hover h1{
    color: yellow;
    cursor: grab;
  }

  .tmonial-quote h3{
    font-size: 2.4em;
    letter-spacing: 0px;
    margin: 0 0 0 -32px;
    width: 10em;
  }

  .tmonial-block:hover #tmonial-img{
    opacity: 100%;
    cursor: grab;
  }

  #testimonials-container > div:nth-child(2) > article{
    animation: fadeIn 3s; 
  }



  /* .tmonial-block .tmonial-header img{
    width: 15em;
    height: 15em;
    box-shadow: 10px 5px 5px #425d7130;
  }

  .tmonial-quote {
    width: 90%;
    margin-left: 50px;
  }
  
  .tmonial-quote h3{
    font-size: 2em;
    line-height: 50px;
    font-style: italic;
    margin: 20px 0;
  }

  .tmonial-quote h4 {
    font-size: 1.2em;
    margin: 0;
  } */

  #landing-container .btn {
    width: 250px;
    margin: 5em 0;
  }

  /********************** STATIC BANNER IMAGE ***********************/

  .banner {
    height: 400px;
  }

  .b-img {
    opacity: 30%;
    background-position: center;
    background-size: cover;
  }

  .banner h1 {
    position: absolute;
    top: 220px;
    font-size: 3em;
    letter-spacing: 10px;
  }


  /********************** Text Blocks ***********************/

  .t-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .t-block .t-left {
    width: 30%;
  }

  /* .t-block .t-left img {
    margin-top: -20px;
  } */

  .t-block .t-right {
    width: 60%;
    text-align: left;
  }

  /********************** About ***********************/

  #about-container {
    margin-bottom: 40px;
  }

  #about-content {
    width: 70vw;
  }

  #about-content p {
    font-size: 0.9em;
    line-height: 25px;
  }

  #about-container .t-block .t-right {
    display: flex;
    flex-direction: column;
  }

  #about-container .t-block .t-right #t-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
  }

  #team-container > article > div.t-right > p > ul {
    margin-left: -40px;
  }

  /********************** Upcoming Shows ***********************/

  #upcoming-container {
    margin: 50px 0;
  }

  /********************** Upcoming Shows CARD ***********************/

  .up-show-card-container {
    display: flex;
    flex-direction: row;
    width: 56em;
    height: 20em;
    margin-bottom: 60px;
  }

  .up-show-card-container .up-show-c-header {
    margin-left: 319px;
    height: 23em;
  }

  .up-show-card-container .up-show-c-header #up-s-c-title h1 {
    margin: -10px 0 10px 10px;
  }

  .up-show-card-container .up-show-c-header #up-s-c-title h2{
    font-size: 1.5em;
    margin-bottom: 185px;
  }


  .up-show-card-container .up-show-c-header #up-img{
    width: 30em;
    height: 23em;
    margin-left: -475px;
    z-index: -1;
    background-position: center;
    background-size: contain;
    opacity: 68%;
  }

  /* .up-show-card-container .up-show-c-desc {
    margin-top: 0px;
  } */

  .up-show-card-container .up-show-c-desc h3{
    letter-spacing: 0px;
    font-weight: 100;
    font-size: 1.2em;
  }
  .up-show-card-container .up-show-c-desc h4 {
    font-size: 1em;
  }

  .up-show-card-container .up-show-c-desc p {
    margin-top: 100px;
    font-size: 0.9em;
  }

  .up-show-card-container .up-show-c-desc #tix {
    position: relative;
    left: 350px;
    top: 25px;
    color: blue;
    font-family: Calibri, sans-serif;
    font-weight: 100;
    /* font-size: 1.6em; */
  }

  .up-show-card-container .up-show-c-desc #tix:hover{
    left: 355px;
    font-weight: 500;
  }




  /* .up-show-card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60em;
  }

  .up-show-c-header {
    width: 27em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -180px;
  }

  .up-show-c-header #up-img {
    height: 350px;
    width: 100%;
    background-position: center;
    background-size: contain;
    z-index: -1;
    margin-left: -535px;
  }

  .up-show-c-header #up-s-c-title{
    margin-left: 0px;
  }

  .up-show-card-container .up-show-c-desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    height: 350px;
    width: 40%;
  }

  .up-show-card-container .up-show-c-desc a{
    position: relative;
    left: 400px;
    top: 10px;
  }

  .up-show-card-container .up-show-c-desc p {
    margin-top: 100px;
  } */


  /********************** book us ***********************/
  #book-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #book-content {
    width: 70vw;
  }

  #book-content p{
    font-size: 0.9em;
    line-height: 25px;
  }

  /********************** sponsor ***********************/
  #sponsor-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #sponsor-content {
    width: 70vw;
  }

  #sponsor-content p{
    font-size: 0.9em;
    line-height: 25px;
  }
  /********************** SUBMISSIONS ***********************/
  
  #sub-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #sub-content {
    width: 70vw;
  }

  #sub-content p{
    font-size: 0.9em;
    line-height: 25px;
  }
  /********************** contact ***********************/
  
  #contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #contact-content article {
    /* width: 600px; */
    justify-content: space-between;
  }
  
  /* #contact-content {
    width: 70vw;
  } */

  #sub-content p{
    font-size: 0.9em;
    line-height: 25px;
  }

  /********************** Footer ***********************/

  #root > div > footer {
    z-index: 500;
    position: relative;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100vw;
  }

  #f-l-content {
    display: flex;
    flex-direction: column;
    padding: 2em 2em;
    /* column-count: 2; */
    width: 200px;
  }

  #f-l-content a {
    color: white;
    line-height: 25px;
    font-size: 0.8em;
    font-family: Calibri, sans-serif;
    font-weight: 300;
  }

  #f-l-content a:hover {
    color: yellow;
  }

  #f-content{
    width: 400px;
    text-align: right;
  }

  #f-content p {
    margin-right: 20px;
    font-size: 0.7em;
  }

  #f-content img {
    padding: 1em;
  }

  #f-content img:hover {
    opacity: 70%;
    cursor: grab;
  }



  


  

  





  
}