/********************** GLOBAL STYLES ***********************/

.App {
  /* padding: 10px 10px 0 10px; */
  /* width: 100vw!important; */
  overflow-x: hidden;
}

body {
  margin: 0;
}

h1, h2, h3{
  font-family: Calibri, sans-serif;
  font-weight: 100;
  letter-spacing: 3px;
}

h4 {
  font-family: Calibri, sans-serif;
  font-weight: 100;
}

p {
  font-family: Calibri, sans-serif;
  font-weight: 100;
}

button, .button {
  background-color: #59788e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 0.9em;
  width: 70%;
  cursor: grab;
}

button:hover, .button:hover {
  background-color: #2b4254;
}

#landing-container,
#about-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;
}

.sub-header {
  text-align: center;
  padding: 30px 20px 0 20px;
  font-size: 2em;
  font-style: italic;
  letter-spacing: 0;
  color: #59788e;
}

a {
  text-decoration: none !important;
}


.hide {
  display: none;
}

/********************** FOOTER ***********************/

footer {
  background-color: rgb(50, 50, 50);
  color: white;
  width: 100vw;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

footer p {
  font-size: 0.8em;
  font-style: italic;
}

#f-content {
  padding: 10px;
  z-index: 100;
}

#f-content img {
  width: 40px;
  padding: 18px;
}


/********************** HEADER ***********************/

#header-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#header-container h3{
  letter-spacing: 2px;
  font-weight: lighter;
}

#logo-img {
  height: 5em;
  padding: 4px 10px;

}

#header-container-mobscroll {
  position: fixed;
  left: 0px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
  padding: 10px;
  background-color: #59788e;
  color: white;
  animation: fadeIn 0.2s; 
}

#header-container-mobscroll h4 {
  margin: 20px;
  font-family: Calibri, sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 1.2em;
}

#header-container-mobscroll h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
}

#hamburger {
  height: 50px;
  padding: 7px 0 0 0;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


/********************** MOBILE NAV ***********************/

#mob-nav-container {
  width: 100vw;
  height: 102vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(50, 50, 50);
}

#mob-nav-content {
  color: white;
  padding: 10%;
  font-size: 1.3em;
}

#mob-nav-content a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  font-family: Calibri, sans-serif;
}

.sub-nav {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 20px;
  font-size: 0.6em;
  font-weight: 100;
  line-height: 30px;
}

#mob-nav-content #mob-nav-bottom {
  position: absolute;
  bottom: 30px;
}

#mob-nav-content #mob-nav-bottom h5 {
  color: white;
  font-weight: 100;
  font-size: 0.72em;
}

/********************** TEXT BLOCK ***********************/

.t-block {
  margin: 90px 30px;
}

/********************** STATIC BANNER IMAGE ***********************/

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100vw;
}

.b-img {
  width: 100%;
  height: 100%;
}

/* .banner img{
  width: 100vw;
  height: 300px;
} */

.banner h1 {
  position: absolute;
  top: 220px;
}

/********************** LANDING SLIDESHOW ***********************/

#l-hero-s {
  margin-bottom: 0px;
  z-index: 20;
}

#l-hero-s .slideshow-container {
  margin: -40px 0 -70px 0;
}

#l-hero-s .slideshow-container img{
  width: 100%;
  height: 360px;
}

#l-hero-s .slideshow-container #slide-icons {
  position: relative;
  top: -130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 10;
  width: 100%;
}

#l-hero-s .slideshow-container #img-icon {
  height: 12px;
  width: 12px;
  padding: 5px;
}


/********************** SLIDESHOWS ***********************/

.slideshow-container img {
  width: 100vw;
  height: 250px;
  margin: 40px 0 ;
}


/********************** LANDING PAGE ***********************/

#landing-about {
  padding: 0 30px;
}

#landing-about img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

/********************** TESTIMONIALS ***********************/


#testimonials-container {
  margin: 70px;
  /* padding: 30px; */
  background-color: #59788e2f;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.tmonial-block{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  padding: 50px 0;
  font-size: 10px;
}

.tmonial-header {
  flex-direction: column;
}

.tmonial-header h1 {
  font-size: 1.2em;
  font-weight: 500;
}

.tmonial-quote {
  margin-left: 30px;
}

.tmonial-quote h3{
  font-size: 2em;
  letter-spacing: 1px;
}

.tmonial-quote h4 {
  font-weight: 100;
}

.tmonial-block img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

#r-card {
  display: flex;
  flex-direction: row-reverse;
}

#r-card .tmonial-quote {
  margin-left: 0;
  margin-right: 30px;
}


/********************** ABOUT PAGE ***********************/

#about-container .t-block .t-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about-container .t-block .t-left #t-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
}

#about-container #about-content .t-block {
  margin: 90px 30px;
}

#team-container .t-right ul{
  columns: 2;
  list-style-type: none;
  margin-left: -50px;
}



/********************** BOOK US ***********************/

#book-container {
  margin-bottom: 130px;
}

/********************** SPONSORSHIP ***********************/

#sponsor-container {
  margin-bottom: 130px;
}



/********************** SUBMISSIONS ***********************/

#sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
}

/* #sub-container .t-block {
  margin: 30px 30px;
}  */

#sub-container button {
  margin: 50px 0 0 0;
}

/********************** CONTACT ***********************/

#contact-container {
  margin-bottom: 130px;
}

#contact-container .t-block {
  margin: 70px 30px;
}

#contact-container #follow-container {
  columns: 2;
  margin: -40px 35px;
}

#contact-container #follow-container img {
  height: 130px;
  width: 150px;
  opacity: 50%;
}

#contact-container #follow-container img:hover {
  opacity: 100%;
}

#contact-container #follow-container h3 {
  margin: -70px 0 70px 0;
  /* color: white; */
  font-weight: 900;
  font-size: 1.3em;
}


/********************** UPCOMING SHOWS PAGE ***********************/

#upcoming-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
}


/********************** UPCOMING SHOWS CARD ***********************/


.up-show-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 330px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px 10px 0 0; 
  margin-top: 50px;
}

.up-show-c-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 350px;
  flex-direction: column;
}

.up-show-c-header img{
  opacity: 50%;
  background-color: black;
  z-index: -10;
  width: 330px;
  height: 350px;
  border-radius: 10px 10px 0 0; 
}

#up-s-c-title {
  display: flex;
  flex-direction: column;
  margin-left: -320px;
}
#up-s-c-title h1 {
  font-size: 2.7em;
  margin-bottom: 10px;
}

#up-s-c-title h2{
  font-size: 2.3em;
  font-weight: 500;
  margin: 0;
  background-color: #ffffff;
  width: 28%;
  padding: 10px;
}

.up-show-c-desc {
  margin: 0px 10px;
}

.up-show-c-desc h3 {
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: -15px;
}

.up-show-c-desc h4 {
  font-size: 1.2em;
  margin-bottom: -15px;
}

.up-show-c-desc p {
  margin: 40px 0;
}

.up-show-card-container .button {
  width: 300px;
  border-radius: 0 0 5px 5px;
  text-align: center;
}

.up-show-card-container a {
  text-decoration: none!important;
  font-size: 1.5em;
}

/********************** PAST SHOWS PAGE ***********************/

#past-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
}



/********************** PAST SHOWS CARD ***********************/

.past-show-card-container {
  display: flex;
  align-items: center;
  width: 350px;
  height: 200px;
  margin-top: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.past-show-c-header {
  width: 150px;
}

.past-show-c-header img {
  width: 150px;
  height: 200px;
  opacity: 40%;
  z-index: -10;
}

#past-s-c-title {
  margin: -160px 0 0 5px;
  z-index: 10;
}

#past-s-c-title h2 {
  font-size: 1.2em;
}

#past-s-c-title h1 {
  font-size: 1.5em;
}

.past-show-c-desc {
  margin-left: 10px;
}

.past-show-c-desc h3 {
  font-size: 1em;
  margin: 0;
}



/*************************** DESKTOP STYLES ****************************/

@media only screen and (min-width: 768px) {


  /********************** global ***********************/

  .sub-header {
    padding: 2em 5em 1em 5em;
  }

  /********************** HEADER ***********************/

 
  #header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    height: 70px;
    z-index: 700;
    background-color: white;
    position: relative;
  }

  #logo-img {
    height: 4em;
    padding: 4px 40px;
  }

  #header-container-mobscroll {
   position: fixed;
   top: 0px;
  }

  #header-container-mobscroll #nav-container #nav-show-sub,
  #header-container-mobscroll #nav-container #nav-op-sub {
    background-color: #59788e;
  }


  /********************** NAV ***********************/
  #sub-to-u {
    background-color: #59788e;
    color: white;
    padding: 4px;
  }

  #sub-to-u:hover{
    background-color: white;
    color: #59788e;
  }


  #nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 100px;

  }

  #nav-container a {
    text-decoration: none;   
    color: black; 
  }

  #nav-container a:hover,
  #nav-container h1:hover {
    color: blue;
  }

  #nav-container h1 {
    font-size: 1em;
    font-weight: 400;
  }

  #nav-container h1:hover {
    cursor: grab;
  }

  #nav-container #nav-show-sub,
  #nav-container #nav-op-sub{
    display: flex;
    flex-direction: column;
    font-size: 0.78em;
    position: fixed;
    line-height: 27px;
    background-color: white;
    padding: 10px;
    width: 100px;
    font-family: Calibri, sans-serif;  
  }


  #header-container-mobscroll {
    display: flex;
    flex-direction: row;
    height: 38px;
    align-items: center;
    animation: fadeIn 0.4s; 
    z-index: 600;
  }

  #header-container-mobscroll a {
    color: white;
  }

  #header-container-mobscroll h4{
    font-weight: 300;
  }


  /********************** Landing CARD ***********************/

  .landcard-container {
    margin-right: 10px;
  }

  .landcard-content {
    background-size:cover;
    background-position: left;
    height: 38em;
    width: 33em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-repeat: repeat; */
  }
  
  #landcard-title h1, 
  #landcard-title h3 {
    opacity: 0;
  }

  .landcard-container:hover #landcard-title h1,
  .landcard-container:hover #landcard-title h3 {
    opacity: 100;
  }
  
  .landcard-container .landcard-content:hover{
    background-image: none!important;
    background-color: #59788e;
    cursor: grab;
  }


  #landcard-title {
    text-align: left;
    color: white;
    margin: 0 0 20px 10px;
  }

  #landcard-title:hover {
    color: rgb(255, 255, 255);
  }

  #landcard-title h1{
    text-decoration: none!important;
    font-size: 3.5em;
    margin: 15px 0;
    letter-spacing: 1px;
  }

  #landcard-title h2, 
  #landcard-title h3 {
    margin: 0;
  }

  #landcard-title h2 {
    background-color: white;
    color: black;
    width: 26%;
    padding: 10px 0 10px 10px;
    margin-left: -10px;
    letter-spacing: 0;
    font-size: 2em;

  }

  #landcard-title h3 {
    /* font-style: italic; */
    font-size: 1em;
  }

  /********************** Landing ***********************/

  /* #landing-container {
    background-color: #eff0f4c5;
  } */

  #l-hero-s {
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    background-color: white;
    padding-bottom: 1em;
    /* justify-content: center; */
  }

  #landing-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /* padding: 3em 3em 2em 3em; */
  }

  #landing-about h2 {
    font-size: 25em;
    width: 100%;
    /* color: #59788e16; */
    animation: color-change 5s infinite;
    z-index: 0;
    top: -220px;
    position: fixed;
    z-index: 10;
    font-weight: 900;
    line-height: 0.8em;
    text-align: justify;
  }


@keyframes color-change {
  0% { color: #59788e16; }
  50% { color: #59788e84; }
  100% { color: #59788e16; }
}

  #l-a-t {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    z-index: 100;
    padding: 4em 0;
    margin-top: 9em;

  }

  #landing-about p {
    /* margin: 2em 15em 0 15em;  */
    font-size: 1em;
    line-height: 22px;
    z-index: 10;
    padding: 0 20em;
    /* padding: 10em 8em 0 8em; */
    /* border-radius: 20px; */
    /* height: 30vh; */
  }

  #landing-about #land-img-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin: 5em 0;
    z-index: 10;
  }

  #landing-about #land-img-row div{
    width: 50em;
    height: 12.5em;
    background-size: cover;
    background-position: center;
    margin: 0 5px;
  }



  /********************** Testimonials ***********************/

  #testimonials-container {
    padding: 4em 0;
    background-position: bottom;
    flex-direction: row;
    background-color: #f2f4f5;
    width: 100vw;
    overflow-x: scroll;
    justify-content: left;

  }

  .tmonial-block {
    width: 24em;
    background-color: rgb(255, 255, 255);
    margin: 20px 4em;
    padding: 3em 4.4em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 10px 5px 5px #425d7130;
    border-radius: 10px;
    cursor: grab;
  }

  .tmonial-block {
    background-size: cover;
    background-image: none!important;
  }
  
  .tmonial-block:hover{
    box-shadow: 10px 5px 5px #425d7155;
    margin: 0 5em 1em 4em;

  }

  .tmonial-quote {
    margin: 0px;
    width: 115%;
    padding: 0;
  }

  .tmonial-quote h3{
    font-size: 3.2em;
    color: #59788e;
  } 

  .tmonial-quote h4 {
    font-style: italic;
  }

  #testimonials-container > div:nth-child(5) > div > article:hover{
    margin-bottom: 4em;
  }

  /* .tmonial-block {
    width: 24em;
    background-color: rgb(255, 255, 255);
    margin: 20px 4em;
    padding: 2em 4em 2em 4em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 10px 5px 5px #425d7130;

  }

  .tmonial-header{
    margin: 0px;
  }

  #tmonial-img {
    background-size: cover;
    background-position: center;
    width: 23em;
    height: 25em;
    padding: 0;
    margin: -10px 0 0 0;
    opacity: 70%;
    z-index: -1;
  }


  .tmonial-quote {
    margin: 0px;
    width: 100%;
    z-index: 10;
  }

  .tmonial-quote h1{
    font-size: 5.2em;
    letter-spacing: 3px;
    font-weight: 100;
    margin: -110px 0 30px -30px;
    text-align: left;
    color: white;
    line-height: 55px;
  }

  .tmonial-block:hover h1{
    color: yellow;
    cursor: grab;
  }

  .tmonial-quote h3{
    font-size: 2.4em;
    letter-spacing: 0px;
    width: 130%;
    margin-left: -30px;
  }

  .tmonial-block:hover #tmonial-img{
    opacity: 100%;
    cursor: grab;
  } */

  #testimonials-container > div:nth-child(2) > article{
    animation: fadeIn 3s; 
  }


  #mailing-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    background-color: white;
    padding: 5em 0;
    margin: 5em 0;
    width: 100vw;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  }

  #mailing-list-container form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    z-index: 10;
  }


  #mailing-list-container form input[type="text"]{
    height: 2em;
    width: 27em;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: 3px solid #59788e;
  }

  #mailing-list-container form input[type="submit"]{
    background-color: #59788e;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 0.9em;
    width: 70%;
    cursor: grab;
    margin-top: 20px;
  }

  #mailing-list-container form input[type="submit"]:hover {
    background-color: #2b4254;
  }



  /********************** STATIC BANNER IMAGE ***********************/

  .banner {
    height: 380px;
  }

  .b-img {
    opacity: 70%;
    background-position: center;
    background-size: cover;
  }

  .banner h1 {
    position: absolute;
    top: 170px;
    font-size: 5em;
    letter-spacing: 10px;
    color: white;
  }


  /********************** Text Blocks ***********************/

  .t-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .t-block .t-left {
    width: 40%;
  }

  /* .t-block .t-left img {
    margin-top: -20px;
  } */

  .t-block .t-right {
    width: 80%;
    text-align: left;
  }

  /********************** About ***********************/

  #about-container {
    margin-bottom: 40px;
  }

  #about-content {
    width: 70vw;
  }

  #about-content p {
    font-size: 0.9em;
    line-height: 25px;
  }

  #about-container .t-block .t-right {
    display: flex;
    flex-direction: column;
  }

  #about-container .t-block .t-left #t-img {
    width: 7em;
    height: 9em;
    border-radius: 0%;
    background-position: center;
    background-size: cover;
    margin-bottom: -10px;
  }

  #team-container > article > div.t-right > p > ul {
    margin-left: -40px;
  }

  /********************** Upcoming Shows ***********************/

  #upcoming-container {
    margin-bottom: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #upcoming-container .banner {
    margin-bottom: 50px;
  }


  /********************** Upcoming Shows CARD ***********************/

  .up-show-card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 67em;
    box-shadow: none;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
  }

  .up-show-card-container .up-show-c-header {
     width: 44%;
     margin-right: 20px;
     background-position: 50% 65%;
     background-image: cover !important;
  }

  .up-show-card-container .up-show-c-header h2{
    background-color: white;
    padding: 10px 0.8em 10px 0.8em;
    position: relative;
    top: -125px;
    left: -170px;

  }

  .up-show-card-container .up-show-c-header h1 {
    font-size: 2.1em;
    position: absolute;
    margin: 230px 0 0 -40px;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
  }


  .up-show-card-container .up-show-c-desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 50%;
  }

  .up-show-card-container .up-show-c-desc h3{
    letter-spacing: 0px;
    font-weight: 100;
    font-size: 1.2em;
  } 

  .up-show-card-container .up-show-c-desc h4 {
    font-size: 0.9em;
    line-height: 20px;
  }

  .up-show-card-container .up-show-c-desc p {
    margin-top: 100px;
    font-size: 0.9em;
  }

  .up-show-card-container .up-show-c-desc #tix {
    position: relative;
    left: 385px;
    top: 38px;
    color: blue;
    font-family: Calibri, sans-serif;
    font-weight: 100;
  }

  .up-show-card-container .up-show-c-desc #tix:hover{
    left: 390px;
    font-weight: 500;
  }

  /********************** Past Shows ***********************/

  #past-container {
    margin-bottom: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #past-container .banner {
    margin-bottom: 50px;
  }


  #past-years {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 20px;
    top: 570px;
    font-family: Calibri, sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 1.2em;
  }

  #past-years a {
    padding: 5px 0;
    color: #59788ec2;
  }

  #past-years a:hover,
  #past-years a:active {
    color:#59788e;
    font-weight: 500;
  }


  
  /********************** Past Shows CARD ***********************/


  .past-show-card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60em;
    box-shadow: none;
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid black;
  }

  .past-show-card-container img, 
  .past-show-card-container h1, 
  .past-show-card-container #p-details,
  .past-show-card-container p {
    width: 20%;
  }

  .past-show-card-container #p-details {
    margin-top: 15px;
    width: 120px;
  }

  .past-show-card-container h1 {
    font-size: 1.5em;
    margin-right: -50px;
  }

  .past-show-card-container #p-details h3{
    font-size: 0.9em;
    padding: 0;
    margin: 0;
    line-height: 20px;
    letter-spacing: 1.5px;
  }

  .past-show-card-container #p-details h4 {
    font-size: 0.8em;
  }

  .past-show-card-container p{
    width: 300px;
    font-size: 0.8em;
    line-height: 20px;
  }

  /********************** book us ***********************/
  #book-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #book-container .banner .b-img {
    background-position: 0 -80px;
    opacity: 70%;
  }
  
  #book-content {
    width: 70vw;
  }

  #book-content .sub-header {
    margin-bottom: -50px;
  }

  #book-content p{
    font-size: 0.9em;
    line-height: 25px;
  }

  /********************** sponsor ***********************/
  #sponsor-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #sponsor-container .banner .b-img {
    background-position: 0 -280px;
    opacity: 80%;
  }
  
  #sponsor-content {
    width: 70vw;
  }

  #sponsor-content .sub-header {
    margin-bottom: -50px;
  }

  #sponsor-content p{
    font-size: 0.9em;
    line-height: 25px;
  }

  #sp-tb{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }


  th, td{
    font-family: Calibri sans-serif;
    font-weight: 100;
    letter-spacing: 0.5px;
  }

  table, th, td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    width: 40em;
    text-align: center;
  }
  
  #mid {
    border-left: 1px solid black;
      border-right: 1px solid black;
  }

  table th {
    font-weight: 600;
    padding-bottom: 10px;
    font-size: 1em;
  }

  table td {
    padding: 10px 0;
  }




  /********************** SUBMISSIONS ***********************/
  
  #sub-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #sub-container .banner .b-img {
    background-position: -100px 0;
    opacity: 70%;
  }


  #sub-container .sub-header {
    margin-bottom: -50px;
  }
  
  #sub-content {
    width: 70vw;
  }

  #sub-content p{
    font-size: 0.9em;
    line-height: 25px;
  }

  .btn {
    background-color: #59788e;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 0.9em;
    width: 20%;
    cursor: grab;
  }
  
  .btn:hover {
    background-color: #2b4254;
  }



  /********************** contact ***********************/
  
  #contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #contact-content article {
    /* width: 600px; */
    justify-content: space-between;
    margin-right: 10%;
  }
  
  #contact-content {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 6%;
  }

  #sub-content p{
    font-size: 0.9em;
    line-height: 25px;
  }

  #contact-content .t-block {
    width: 500px;
    margin: 40px 0px;

  }
  #contact-content .t-block .t-right{
    width: 50%;
  }

  #contact-content #follow-container{
    display: flex;
    width: 60vw;
    justify-content: space-around;
    margin-top: 50px;  
    cursor: grab;
  }

  #contact-content h2{
    margin-top: 40px;
  }

  #contact-content #follow-container h3{
    font-weight: 100;
    background-color: white;
    width: 110px;
    padding: 4px 0;
    z-index: 10;
    position: relative;
    font-size: 1.1em;
  }





  /********************** Footer ***********************/

  #root > div > footer {
    z-index: 500;
    position: relative;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100vw;
  }

  #f-l-content {
    display: flex;
    flex-direction: column;
    padding: 2em 2em;
    /* column-count: 2; */
    width: 200px;
  }

  #f-l-content a {
    color: white;
    line-height: 25px;
    font-size: 0.8em;
    font-family: Calibri, sans-serif;
    font-weight: 300;
  }

  #f-l-content a:hover {
    color: yellow;
  }

  #f-content{
    width: 400px;
    text-align: right;
  }

  #f-content p {
    margin-right: 20px;
    font-size: 0.7em;
  }

  #f-content img {
    padding: 1em;
  }

  #f-content img:hover {
    opacity: 70%;
    cursor: grab;
  }


  /********************** Login Page ***********************/
  
  #login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #login-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
  }

  #login-content button {
    width: 200px;
  }

  #login-content #login-l {
    height: 500px;
    overflow-y: scroll;
    margin-right: 5em;
  }

  #login-content #login-l span {
    padding: 0 20px 0 30px;
  }

  #login-content #login-l span:hover {
    color: blue;
    cursor: grab;
  }

  #login-content #login-l ul li{
    padding: 8px 0;
  }


  #login-container input[type="submit"] {
    margin-top: 30px;
    padding-bottom: 30px;
  }

  #login-container #new-show-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-bottom: 100px;
  }

  #login-container #new-show-container form input {
    margin-bottom: 10px;
    height: 20px;
    width: 400px;
  }

  #login-container #new-show-container form input::placeholder {
    color:rgba(128, 128, 128, 0.639);
    font-style: italic;
  }

  #login-container #new-show-container form textarea{
    height: 100px;
    width: 400px;
  }

  #login-container #new-show-container button {
    width: 400px;
  }

  

  





  
}